body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Changa", "Sans Serif";

}
html, body, canvas {
  overflow: hidden;
}
body {
  position: relative;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
